@charset "iso-8859-1";



html {
	overflow: hidden;
}

body {
	margin: 0;
	image-rendering: pixelated;
	font-family: Arial, Helvetica, sans-serif;
}

div {
	position: fixed;
	right: min(30px, 5vw);
	top: min(20px, 5vh);
	user-select: none;
}

div.menu {
	font-size: large;
	text-align: center;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-centered {
	text-align: center;
}

.back {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 5px;
	font-size: medium;
	background: #FFFFFFa0;
	color: black;
}

span {
	display: inline-block;
	padding: min(10px, 5vmin);
	background: #505050a0;
	color: white;
}

canvas {
	background: white;
}
